<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>GameHub</title>
    <link rel="stylesheet" href="/css/style.css" />

    <% if (typeof game !== 'undefined' && game.name === "diceRoller"){ %>
    <link rel="stylesheet" href="/css/<%= game.cssFile %>" />
    <% } %> 

    <% if (typeof game !== 'undefined' && game.name === "invader"){ %>
      <link rel="stylesheet" href="/css/<%= game.cssFile %>" />
    <% } %> 

  </head>

  <body class="container">
    <header>
      <h1>GameHub</h1>
      <nav>
        <ul>
          <li><a href="/">Accueil</a></li>
          <% for (let game of games){ %>
            <li><a href="/game/<%= game.name %>"><%= game.title %></a></li>
          <% } %>


        </ul>
      </nav>
    </header>
