<%- include("partials/head.ejs") %>

  <h1>Dice Roller</h1>

  <form id="dice-form">
    <p>Nombre de dés</p>
    <input type="number" id="dice-form-input" value="3" min="1" max="6">
    <button type="submit">Valider</button>
  </form>

  <div class="game-board hidden">
        <div class="board" id="player"></div>
        <div class="board" id="dealer"></div>
  </div>

  <script src="/js/diceRoller.js"></script>

<%- include("partials/foot.ejs") %>