<%- include("partials/head.ejs") %>

  <h1>Jeu Invader</h1>
  <form id="configuration-form">
    <input type="number" name="gridSize" id="gridSize" placeholder="Taille de grille"  /> 
    <input type="number" name="pixelSize" id="pixelSize" placeholder="Taille de pixel" />
    <button type="submit" id="button">Valider</button>
  </form>
  <section class="game-section">
      <div id="invader-grid"></div>
  </section>
  <aside class="color-container">
    <div class="color white selected" data-color="white"></div>
    <div class="color black" data-color="black"></div>
    <div class="color yellow" data-color="yellow"></div>
    <div class="color green" data-color="green"></div>
  </aside>
  <script src="/js/invader.js"></script>

<%- include("partials/foot.ejs") %>