/** FORM NB DES **/

#dice-form {
  display: flex;
  justify-content: center;  
  align-items: center;
  gap: 1em;
  margin-bottom: 1em;
}

#dice-form input{
  text-align:center;
  padding: 5px;
}

/** LANCE DE DES **/

.game-board {
  display: flex;
}

.board{
  height: 60vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

#player {
  background-color: #D58C48;
}

#dealer {
  background-color: #e67e22;
}

/** DES **/

.dice {
  background-image: url('../images/dice-sprite.png');
  width: 100px;
  height: 100px;
  margin: 1em;
  background-position : 0px;
}
