form{
    display: flex;
    justify-content: center;  
    flex-direction: column;  
    align-items:center;
    gap: 15px;
}

input{
    padding: 5px;
}

p{
    padding: 20px;
    text-align:center;
}