/** FORM GRILLE **/

#configuration-form{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
}

#configuration-form input{
    text-align:center;
    padding: 5px;
}

/* GRILLE */

.game-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin : 2rem;
}

#invader-grid {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

.pixel {
    background-color: #D2DAE2;
    border: 1.5px solid #808E9B;
    box-sizing: border-box;
    margin: 0px;
    cursor: pointer;
}

/* COLORS */

.color-container {
    border-radius: 20px;
    background-color: #385A7D;
    display: flex;
    position: fixed;
    padding: 10px 10px;
    margin : 10px 10px;
    bottom: 0px;
    right: 0px;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.color {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid black;
    margin: 05px;
    cursor: pointer;
    transition: 0.3s;
}

.selected{
    transform: scale(1.2);
    box-shadow: 1px 2px 4px black;
}

.color:hover {
    transform: scale(1.2);
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}